.container {
    display: flex;
    flex-wrap: wrap;
    width: 320px; /* 16 squares * 20px each */
    background-color:black;
}

.square {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: 1px solid white;
    box-sizing: border-box; /* Include borders in the size */
}
.square:hover{
    background-color:red;
}